.content-container {
    display: flex;
  }
  
  app-navbar-root {
    flex: 0 0 auto; /* Prevent resizing */
    width: 230px; /* Adjust the width as needed */
  }
  
  /* router-outlet {
    flex: 1;
  } */
  