<h1 style="margin-left: 20px;" >Market Monitor</h1>
<div *ngIf="MM4PRecords$">
  <div class="table-container">
    <table class="table-bordered table-hover table-striped">
      <thead>
        <tr class="header-row">
          <th>Trade Date</th>
          <th>Up</th>
          <th>Down</th>
          <!-- <th>Total</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scan of MM4PRecords$; index as i" [ngClass]="getRowColor(scan)">
          <td>{{ scan["TradeDate"] | date : "MM/dd/yyyy" }}</td>
          <td>{{ scan.Up }}</td>
          <td>{{ scan.Down }}</td>
          <!-- <td>{{ scan.Total }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
